---
---
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Green View Tea Industries</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Green View Tea Industries">
        <meta name="author" content="greenviewtea.com">
        {% stylesheet styles %}
    </head>
    <body>
        <header id="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 gvti-title">
                        Green View Tea Industries
                    </div>
                    <div class="col-md-8">
                        <ul class="main-menu">
                            {% include menu.html %}
                        </ul>
                        <a href="#" class="resp-menu-btn collapsed" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-align-justify icon-white"></i></a>
                    </div>
                </div>
                <div class="row resp-menu">
                    <div class="col-md-12">
                        <div id="menu-movile" class="nav-collapse collapse">
                            <ul class="nav">
                                {% include menu.html %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="slider">
            <div class="container">
                <div id="mainSlider" class="carousel slide">
                    <div class="image-slider-wrapper">
                        <ul id="image_slider" class="row">
                            <li id="slider-image-1" class="col-md-12"></li>
                            <!--
                            <li id="slider-image-2" class="col-md-12"></li>
                            <li id="slider-image-3" class="col-md-12"></li>
                            --!>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="subpage-title white"><span>ABOUT US</span></h3>
                        <p>Hello, Welcome to the world of Green View Tea Industries. With decades of experience and expertise in tea manufacturing domain, Green View Tea Industries has been consistently producing and delivering finest & high quality of teas to invigorate discerning tea lovers around the world. Green View Tea Industries is known for its world class, state of the art manufacturing unit where high quality of CTC teas are produced.
                        </p>
                    </div><!-- /span12 -->
                </div><!-- /row-->
            </div><!-- /container -->
        </section>
        <section id="products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="subpage-title white"><span>PRODUCTS</span></h3>
                        <p>Green View Tea Industries mainly produces CTC grade teas. CTC stands for Crush, Tear, and Curl. CTC is a method of processing black tea, similar to that of orthodox tea manufacture. Instead of the leaves being rolled as a final stage, they are passed through a series of cylindrical rollers that crush, tear, and curl the tea. Following grades are being manufactured at our facility.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Grade</th>
                                    <th>Nomenclature</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in site.data.products %}
                                <tr>
                                    <th rowspan="{{ product.grades | size | plus: 1}}">{{ product.type }}</th>
                                </tr>
                                {% for grade in product.grades %}
                                <tr>
                                    <td>{{ grade.grade }}</td>
                                    <td>{{ grade.nomenclature }}</td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section id="process">
            <div class="container">
                <div class="row text-center" >
                    <h3 class="subpage-title white"><span>PROCESS</span></h3>
                    <p>Hover on the below steps to understand the end to end manufacturing process</p>
                </div>
                <div class="row">
                    {% for process in site.data.process %}
                    <div class="col-md-3 flip">
                        <div class="flip-front">
                            <h2 class="flip-title">{{ process.title }}</h2>
                        </div>
                        <div class="flip-back">
                            <p>{{ process.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="subpage-title white"><span>CONTACT US</span></h3>
                        <p class="text-center">
                            Green View Tea Industries <br/>
                            Honnahattty, Hittakkal Post, Kotagiri, The Nilgiris, Tamil Nadu.<br/><br/>
                            Contact Person : Sivaiah T <br/>
                            Telephone Number : +91-4266-276125 <br/>
                            Mobile Number    : +91-94432-08225 <br/>
                            Email: <a href="mailto:gvtimail@gmail.com" class="white-text">gvtimail@gmail.com</a> <br/>
                        </p>
                        <div class="copyright">
                            <span class="pull-left">© Copyright 2014</span>
                            <span class="pull-right">Green View Tea Industries</span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% javascript scripts %}
    </body>
</html>
