//colors
$color_theme: #4EC67F;
$color_border: darken($color_theme, 5%);
$color_0: #8d8d8d;
$color_1: #464a52;
$color_3: #2f3239;
$color_4: #ffffff;
$color_6: #2f323a;
$color_7: #212328;
$color_8: #eeeeee;
$color_9: #fff;
$color_10: #c3c3c3;
$color_11: #00a2ff;
$color_12: #2c3e50;
$color_13: #44474d;
$color_14: #bcbcbc;
$color_15: #b2b2b2;
$color_17: white;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Dosis;
